<div class="followers-box">

  <h3>Seguidores ({{ followers.length }})</h3>

  @if (loading) {
  <p>Cargando seguidores...</p>
  }
  @else if (followers.length === 0) {
  <p>No tiene seguidores aún.</p>
  }
  @else {

  <ul class="followers-list">
    @for (f of followers; track f.id) {
    <li class="follower-card">

      <div class="follower-info">
        <span class="username">{{ f.username }}</span>
        <span><strong>Mail:</strong> {{ f.email }}</span>
      </div>


      <button class="go-profile-btn" [routerLink]="['/profiles', f.id]">
        Ver perfil
      </button>

   @if (showdeletebutton) {
        <button class="delete-follow-btn" (click)="removeFollower(f.id!)">
          Eliminar
        </button>
      }


    </li>
    }
  </ul>

  }



  <hr>

  <!-- SEGUIDOS -->
  <h3>Seguidos ({{ following.length }})</h3>

  @if (following.length === 0) {
  <p>No sigue a nadie aún.</p>
  }
  @else {
  <ul class="followers-list">
    @for (p of following; track p.id) {
    <li class="follower-card">

      <div class="follower-info">
        <span class="username">{{ p.username }}</span>
        <span><strong>Mail:</strong> {{ p.email }}</span>
      </div>


      <button class="go-profile-btn" [routerLink]="['/profiles', p.id]">
        Ver perfil
      </button>


    </li>
    }
  </ul>
  }

</div>