<app-top-bar></app-top-bar>

<h2 class="section-title">Usuarios registrados</h2>

<!-- BUSCADOR -->
<div class="search-container">
  <input
    type="text"
    placeholder="Buscar usuario por nombre..."
    [formControl]="searchControl"
  />
</div>

<!-- LISTA DE PERFILES -->
<div class="profiles-container">
  @for (user of filteredProfiles; track user.id) {
    <div class="profile-card">
      <div class="profile-info">
        <p class="username">{{ user.username }}</p>
        <p class="email">{{ user.email }}</p>
      </div>

      <button class="view-btn" [routerLink]="['/profiles', user.id]">
        Ver perfil
      </button>
    </div>
  }
</div>