.footer {
  background-color: #84bbf3;
  text-align: center;        /* Centra el contenido */
  padding: 15px 0;
}

.devs {
  margin: 0;
  font-weight: 500;
}
.mision {
  font-size: 0.85rem;
  margin-top: 5px;
  opacity: 0.9;
}

.texto-mision {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;      
  font-style: italic;  
  line-height: 1.6;      
  color: #444;         
}

