.movie-carousel {
  padding: 20px;
  position: relative;
}

.movie-list-container {
  overflow: hidden; 
  width: 100%;
}

.movie-list {
  display: flex;
  transition: transform 1s ease-in-out;
}

.movie-item {
  min-width: 150px;
  flex: 0 0 auto;
  margin-right: 10px; 
  text-align: center;
  position: relative;
  transition: transform 0.3s ease; 
}

.movie-item:hover {
  transform: scale(1.2); 
  z-index: 10; 
}

.movie-item img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.ranking {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  z-index: 1;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8); 
  border: yes;
  color: #333; 
  padding: 30px;
  cursor: pointer;
  z-index: 2;
  border-radius: 50%;
  width: 40px; 
  height: 40px; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.1s ease; 
}

.left-arrow {
  left: 10px; 
}

.right-arrow {
  right: 10px; 
}

.carousel-arrow:hover {
  background-color: rgba(255, 255, 255, 1); 
  transform: translateY(-50%) scale(2); 
}

.carousel-arrow:focus {
  outline: none; 
}
.carousel-arrow:disabled {
  color: #ccc; 
  cursor: not-allowed;
}



