<div class="container">

  <div>
    <a [routerLink]="['/']" class="movie-title-link">
      <h2></h2>
      <img src="assets/logo-cine.png" alt="logo-cine" class="logo">
    </a>
  </div>


  <div>
    <input type="text" class="form-control" id="search" [formControl]="busqueda" placeholder="Buscar pelicula">
    <button class="btn btn-primary" (click)="buscar()" [disabled]="busqueda.invalid" >Buscar </button>
    <br>
    @if (busqueda.hasError("required") && busqueda.touched) {
      <span>No se ingreso dato de la pelicula</span>
    }

  </div>
  
  <div  >
    
    <a [routerLink]="['/profile-detail']" class="perfil-class">
      <h2>Perfil</h2>
      <img src="assets/perfil.png" alt="Perfil del usuario" class="logo perfil">
    </a>
  </div>

</div>