
  .logo {
    font-size: 1.5em;
    max-width: 70px;
  }
  .container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 30%;
   width: 70%;
  }
  .perfil-class{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;

  }

  h2{
    font-family: 'Arial', sans-serif;
    color: #666666;
    font-size: 15px;
  
  }


  