.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #282c34;
    color: white;
  }
  
  .logo {
    font-size: 1.5em;
    font-weight: bold;
    
  }
  .logo {
  max-width: 120px;
  height: auto;
}
  
  .search-bar {
    display: flex;
    align-items: center;
  }
  
  .search-bar input {
    padding: 5px;
    margin-right: 10px;
  }
  
  .perfil img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  
  .movie-carousel {
    margin-top: 20px;
    padding: 20px;
  }
  