<div class="topbar-container" >

  <!-- IZQUIERDA: LOGO -->
  <div class="topbar-left">
    <a [routerLink]="['/']" class="logo-link">
      <img src="assets/logo-cine.png" alt="MovieHub" class="logo-img" />
      <span class="app-title">MovieHub</span>
    </a>
  </div>

  <!-- CENTRO: BUSCADOR -->
  <div class="topbar-center">
    <div class="search-wrapper">
      <input type="text" class="search-input" placeholder="Buscar película" [formControl]="busqueda"
        (keyup.enter)="buscar()" />

      <button class="search-btn" (click)="buscar()" [disabled]="busqueda.invalid">
        Buscar
      </button>
    </div>
    @if (busqueda.hasError('required') && busqueda.touched) {
    <span class="search-error">
      No se ingresó dato de la película.
    </span>
    }
  </div>

  <!-- DERECHA: PERFIL + ADMIN -->
  <div class="topbar-right">

    @if (activeUserSignal()) {

    <!-- SOLO mostrar “Buscar amigos…” si NO estoy ya en /profiles -->
    @if (!router.url.includes('profiles')) {

    <a [routerLink]="['/profiles']" class="friend-search-pill">
      <span class="friend-search-placeholder">🔍 Buscar amigos...</span>
    </a>
    }

    <a [routerLink]="['/notifications']" class="nav-pill notif-link" routerLinkActive="active-pill">
      <span class="notif-icon">🔔</span>
      <span class="notif-text">Notificaciones</span>

      @if (unreadCount() > 0) {
      <span class="badge">{{ unreadCount() }}</span>
      }
    </a>

    <a [routerLink]="['/activity']" class="nav-pill" routerLinkActive="active-pill">
      <span class="nav-icon">📌</span>
      <span class="nav-text">Actividad</span>
    </a>

    <a [routerLink]="['/chat']" class="nav-pill notif-link" routerLinkActive="active-pill">
      <span class="nav-icon">💬</span>
      <span class="nav-text">Chat</span>

      @if (unreadChat() > 0) {
      <span class="badge">{{ unreadChat() }}</span>
      }
    </a>

    <!-- PERFIL PROPIO -->
    <a [routerLink]="['/profile-detail']" class=" profile-link" routerLinkActive="active-pill">
      <span class="nav-pill profile-text">
        Perfil ({{ activeUserSignal()?.username }})
      </span>
      <img src="assets/perfil.png" alt="Perfil del usuario" class="profile-avatar" />
    </a>


    }

  </div>



</div>