@if (userLoggedIn) {

<div class="profile-page">

  <!-- COLUMNA IZQUIERDA -->
  <div class="left-column">

    @if (!isEditMode) {

    <!-- MODO VER DETALLE -->
    <div class="profile-card-header">
      <h2 class="profile-title">Detalles del perfil</h2>

      <button class="btn-outline" (click)="enableEdit()">
        Editar perfil
      </button>
    </div>

    <div class="profile-info">
      <p><strong>Usuario:</strong> {{ userProfile?.username }}</p>
      <p><strong>Email:</strong> {{ userProfile?.email }}</p>
      <p><strong>Fecha de nacimiento:</strong> {{ userProfile?.date }}</p>
      <p><strong>Celular:</strong> {{ userProfile?.cel }}</p>

      @if (userProfile?.firstName || userProfile?.lastName) {
      <p>
        <strong>Nombre:</strong>
        {{ userProfile?.firstName }} {{ userProfile?.lastName }}
      </p>
      }
      <p>
        <strong>Géneros favoritos:</strong>
        @if (favoriteGenreNames.length > 0) {
        {{ favoriteGenreNames.join(', ') }}
        } @else {
        Sin géneros seleccionados
        }
      </p>
      <!--  Avatar + Bio -->
      @if(!isEditBio){

      <div class="avatar-bio">
        <img class="avatar-img" [src]="userProfile?.avatarUrl || 'assets/perfil.png'" alt="Avatar" />

        <div class="bio-box">
          <p class="bio-title"><strong>Bio:</strong></p>
          <p class="bio-text">
            {{ userProfile?.bio?.trim() ? userProfile?.bio : 'Sin descripción todavía.' }}
          </p>
        </div>

      </div>
      <button class="btn-outline" (click)="enableEditAvatar()">
        Editar avatar y bio
      </button>

      }@else {


      <div class="avatar-bio-edit" [formGroup]="avatarBioForm">
        <button class="btn-text" type="button" (click)="cancelEditAvatar()">
          Cancelar
        </button>
        <h3 class="section-title">Avatar y bio</h3>

        <div class="row">
          <img class="avatar-preview" [src]="avatarBioForm.value.avatarUrl || 'assets/perfil.png'" alt="Avatar" />

          <div class="fields">
            <label>Avatar</label>

            <div class="avatar-picker">
              <button type="button" class="btn-outline small" (click)="prevAvatar()">◀</button>

              <div class="picker-center">
                <img class="avatar-preview" [src]="avatarBioForm.value.avatarUrl" alt="Avatar" />
                <div class="picker-count">{{ avatarIndex + 1 }}/{{ avatars.length }}</div>
              </div>

              <button type="button" class="btn-outline small" (click)="nextAvatar()">▶</button>
            </div>
            <label>Bio</label>
            <textarea rows="3" formControlName="bio"></textarea>

            <small>
              {{ (avatarBioForm.value.bio?.length || 0) }}/160
            </small>

            <button type="button" class="btn-outline" (click)="saveAvatarBio()">
              Guardar avatar y bio
            </button>
          </div>
        </div>
      </div>



      }

    </div>
    } @else {

    <!-- MODO EDITAR PERFIL -->
    <div class="profile-card-header">
      <h2 class="profile-title">Editar perfil</h2>

      <button class="btn-text" type="button" (click)="cancelEdit()">
        Cancelar
      </button>

    </div>

    @if (profileError) {
    <div class="alert error-global">
      {{ profileError }}
    </div>
    }

    @if (profileSuccess) {
    <div class="alert success-global">
      {{ profileSuccess }}
    </div>
    }

    <app-signup [isEditMode]="true" [profile]="userProfile" (profileedit)="onProfileUpdated($event)"></app-signup>

    }


  </div>

  <!-- COLUMNA DERECHA -->
  <div class="right-column">

    <div class="profile-card">

      <div class="visibility-box">
        <p><strong>Visibilidad del perfil:</strong></p>

        <button class="visibility-btn" (click)="toggleVisibility()">
          {{ userProfile?.isPublic ? 'Hacer perfil privado' : 'Hacer perfil público' }}
        </button>
      </div>
      <app-follow-component [userId]="userProfile?.id" [showdeletebutton]="true"></app-follow-component>

    </div>


  </div>

</div>

} @else {

<p class="login-message">
  Por favor, inicie sesión para ver los detalles de su perfil.
</p>

}