<app-top-bar></app-top-bar>

@if (userLoggedIn) {

<div class="profile-page">

  <!-- COLUMNA IZQUIERDA -->
  <div class="left-column">

    @if (!isEditMode) {

    <!-- MODO VER DETALLE -->
    <div class="profile-card-header">
      <h2 class="profile-title">Detalles del perfil</h2>

      <button class="btn-outline" (click)="enableEdit()">
        Editar perfil
      </button>
    </div>

    <div class="profile-info">
      <p><strong>Usuario:</strong> {{ userProfile?.username }}</p>
      <p><strong>Email:</strong> {{ userProfile?.email }}</p>
      <p><strong>Fecha de nacimiento:</strong> {{ userProfile?.date }}</p>
      <p><strong>Celular:</strong> {{ userProfile?.cel }}</p>

      @if (userProfile?.firstName || userProfile?.lastName) {
      <p>
        <strong>Nombre:</strong>
        {{ userProfile?.firstName }} {{ userProfile?.lastName }}
      </p>
      }

      <!-- 🟢 NUEVO: géneros favoritos -->
      <p>
        <strong>Géneros favoritos:</strong>
        @if (favoriteGenreNames.length > 0) {
        {{ favoriteGenreNames.join(', ') }}
        } @else {
        Sin géneros seleccionados
        }
      </p>
    </div>
    } @else {

    <!-- MODO EDITAR PERFIL -->
    <div class="profile-card-header">
      <h2 class="profile-title">Editar perfil</h2>

      <button class="btn-text" type="button" (click)="cancelEdit()">
        Cancelar
      </button>

    </div>

    @if (profileError) {
    <div class="alert error-global">
      {{ profileError }}
    </div>
    }

    @if (profileSuccess) {
    <div class="alert success-global">
      {{ profileSuccess }}
    </div>
    }

    <app-signup [isEditMode]="true" [profile]="userProfile"  (profileedit)="onProfileUpdated($event)"></app-signup>

    }


  </div>

  <!-- COLUMNA DERECHA -->
  <div class="right-column">

    <div class="profile-card">

      <div class="visibility-box">
        <p><strong>Visibilidad del perfil:</strong></p>

        <button class="visibility-btn" (click)="toggleVisibility()">
          {{ userProfile?.isPublic ? 'Hacer perfil privado' : 'Hacer perfil público' }}
        </button>
      </div>
      <app-follow-component [userId]="userProfile?.id" [showdeletebutton]="true"></app-follow-component>

    </div>

  </div>

</div>

} @else {

<p class="login-message">
  Por favor, inicie sesión para ver los detalles de su perfil.
</p>

}

<app-footer></app-footer>